@forward 'element-plus/theme-chalk/src/common/var.scss' with (
    $colors: (
        'primary': (
            'base': #1e9fbe,
        ),
    )
);

@use 'element-plus/theme-chalk/src/message-box.scss' as *;
@use 'element-plus/theme-chalk/src/message.scss' as *;
@use 'element-plus/theme-chalk/src/notification.scss' as *;
